.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* css for search bar */
.search_input {
  display: inline;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-right: 20px;
  width: 50%;
}

.submitbutton {
  background-color: #6c757d; /* Grey button */
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 25px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.submitbutton:hover {
  background-color: #001affcb; /* Light grey on hover */
  border-radius: 25px; /* Rounded corners */
}

/* css for filters*/
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4; /* Light grey background */
}

.dropdown-container {
  display: flex;
  justify-content: center;
  gap: 15px; /* Adjust the gap between dropdowns */
  padding: 20px; /* Adjust padding as needed */
}

.dropbtn {
  background-color: #6c757d; /* Grey button */
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 25px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.dropbtn:hover {
  background-color: #5a6268; /* Darker grey on hover */
}

.dropdown-menu {
  background-color: #e9ecef; /* Light grey dropdown background */
  border: none;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
  margin-top: 5px;
}

.dropdown-content {
  color: #343a40; /* Dark grey text */
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.dropdown-content:hover {
  background-color: #ced4da; /* Light grey on hover */
  border-radius: 10px; /* Ensure rounded corners on hover */
}

.dropdown-item {
  border-radius: 10px; /* Rounded corners for each item */
}





/* css for top bar */
@media (min-width: 768px) {
  .me-md-auto {
      margin-right: auto !important;
  }
}

.link-body-emphasis {
  color: RGBA(var(--bs-emphasis-color-rgb), var(--bs-link-opacity, 1)) !important;
  -webkit-text-decoration-color: RGBA(var(--bs-emphasis-color-rgb), var(--bs-link-underline-opacity, 1)) !important;
  text-decoration-color: RGBA(var(--bs-emphasis-color-rgb), var(--bs-link-underline-opacity, 1)) !important;
}

.webName {
  font-weight: 1000;
}
